# --- Secrets / env ---
.env

# --- Python ---
__pycache__/
*.pyc
*.ipynb

# --- Testing ---
.pytest_cache/

# --- Editors/OS ---
.vscode/

# --- Docker/Compose (lokale volumes/bestanden) ---
docker-data/

# --- Node ---
n8n_data/