services:
  nginx:
    image: nginx:alpine
    container_name: nginx-container
    ports:
      - "$APP_PORT:80"
    volumes:
      - ./nginx/default.conf:/etc/nginx/nginx.conf:ro
      - ./public:/var/www/html/public:ro
    depends_on:
      - n8n

  n8n:
    image: n8nio/n8n
    ports:
      - "5678:5678"
    env_file:
      - ./.env
    volumes:
      - ./n8n_data:/home/node/.n8n
